@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: purple;
  --color-secondary: teal;
}

.cursor-hover {
  transform: scale(1.6) translate(-12px, -12px) !important;
  background: rgba(124, 58, 237, 0.15);
}

.cursor-click {
  transform: scale(0.6) translate(-12px, -12px) !important;
  background: rgba(124, 58, 237, 0.4);
}
